<h1>Login</h1>
<%= form_for sessions_path, controller: 'sessions', action: 'create' do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
<br/>
  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Login" %>

<% end %>  
