<%= render 'shared/head' %>
<h1>Login</h1>
<% if flash[:notice]%>
  <%= render 'shared/flash_messages' %>
<%end%>
<%= form_tag sessions_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
<br/>
  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag "Login" %>

<% end %>  
