<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blank Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    
    <div class="border-danger container text-center"style = "background-color: #e1b382;">
      <nav class="bg-dark navbar navbar-dark navbar-expand-lg" style = "background-color: #e1b382;">
        
        <div class="collapse navbar-collapse id="navbarColor01" style = "background-color: #2d545e;">
          <ul class="mr-auto navbar-nav">
            <a class="nav-link" style = "background-color: #6B7a8F; color: white" href= <%=root_path %> >Home<span class="sr-only">(current)</span></a>
            <a class="nav-link" style = "background-color: #F7882F; color: blue" href= <%=about_path %> >About<span class="sr-only">(current)</span></a>
            <%if user_signed_in?%>
              <a class="nav-link" style = "background-color: #F7C331;">Welcome</a>
            <%else%>
              <a class="nav-link" style = "background-color: #F7C331; color: green" <%= link_to "signup", new_user_registration_path %><span class="sr-only">(current)</span></a>
            <%end%>
            
            <a class="nav-link" style = "background-color: #DCC7AA; color: #654321;"
              <%if current_user %>
                <%= link_to "logout", destroy_user_session_path, :method => :delete%>
              <%else%>
                <%= link_to "sign-in", new_user_session_path %>
              <%end%><span class="sr-only">(current)</span></a>
               
                <div class="dropdown"> 
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                    Your Words                </button>                     
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                        <a class="dropdown-item" href=<%=new_word_path %> >Create Word</a> 
                        <a class="dropdown-item" href=<%=words_path %> >Word Index</a>
                    </div>                     
                </div>  
                <div class="dropdown"> 
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                    Your Phrases                </button>                     
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                         <a class="dropdown-item" href=<%=new_phrase_path %> >Create Phrase</a> 
                        <a class="dropdown-item" href=<%=phrases_path %> >Phrase Index</a> 
                    </div>                     
                </div>          
         <div class="dropdown"> 
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                    Your Matches                </button>                     
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                         <a class="dropdown-item" href=<%=new_phrase_path %> >Create Matche</a> 
                        <a class="dropdown-item" href=<%=phrases_path %> >Match Index</a> 
                    </div>                     
                </div>          
           
              
          </ul>
        </div>
      </nav>
      <h1 class="display-4"><span>WEDNESDAY</span></h1>
       
    </div>
    <div class="messages">
              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
            </div>
    
    <!-- Bootstrap core JavaScript
  ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
