<%=render 'shared/head' %>
<h1> Words New Form </h1>
<% if flash[:notice]%>
  <%= render 'shared/flash_messages' %>
<%end%>
<%= form_for @word do |f| %>

  <%= f.label :name, "Name" %>
  </br>
  <%= f.text_field :name %>

  <%= f.submit %>

<% end %>
  
  
